//здесь определяем основные классы, которые используются по всему проекту
// определяем, в том числе $ переменные, которые будут использоваться в проекте

$dark:#170F1C;
$black-70:rgba(0,0,0,0.7);
$pink-orange:rgba(252,103,68,0.7);
    