//здесь с помощью правила @font-face производим ОПРЕДЕЛЕНИЕ нового шрифта,
// который будет использоваться на сайте, предварительно шрифт загружен с 
// сайта fontsquirrel в папку css/fonts/ т.е объявляем как будет называться
// шрифт (font-family: 'Open Sans';) и где он находится (src: url(css/fonts/opensans.woff2) format('woff2');)
//какой формат шрифта - указанные форматы  шрифта в настоящий момент наиболее используемые 
//потому что имеют нименьший размер; порядок строк в файле определяет какой шрифт будет использоваться.
// font-weight: 300; font-style: normal; - можно определять непосредственно не здесь, а при применении шрифта.

@font-face {
    font-family: 'Open Sans';
    src: url(css/fonts/opensans.woff2) format('woff2');
    src: url(css/fonts/opensans.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    } 
@font-face {
        font-family: 'Open Sans Semibold';
        src: url(css/fonts/opensanssemibold.wof2)  format('woff2');
        src: url(css/fonts/opensanssemibold.woff)  format('woff');
        font-weight: 600;
        font-style: normal;
        }