@mixin _level {
    position: relative;
    margin: 0 auto;
    margin-top: 8px;
    width: 151px;
    height: 4px;
    border-radius: 1.5px;
    background-color: #817f7e;
}

@mixin _real_level ($width) { 
        position: absolute;
        width: $width;
        height: 4px;
        border-radius: 1.5px;
        background-color: #ff6e47;
}

@mixin _title_for_levels{   
        margin: 0 auto;
        width: 69px;
        height: 11px;
        font-family: 'Open Sans';
        font-size: 10.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
}

@mixin item {
        width: 537px;
        height: 271px;
        position: relative;
        border-radius: 1px;
        box-shadow: 0 0 27px 0 rgba(20, 20, 21, 0.09);
        background-color: #ffffff;
        .upItem{
                width: 99px;
                height: 99px;
                position: absolute;
                top: -53px;
                left: 222px;
                border-radius: 50%;
                background-color: #ffffff;
                                        
        }
        .textItem{
                width: 438px;
                height: 71px;
                margin: 0 auto;
                margin-top: 94px;
                opacity: 0.7;
                font-family: 'Source Sans Pro';
                font-size: 17px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.59;
                letter-spacing: normal;
                text-align: center;
                color: $black-70;
                box-shadow: none;
        }
        .starsItem{
                box-shadow: none;
                margin: 0 auto;
                margin-top: 19px;
                height: 16px;
                display: flex;
                justify-content: center;
        }
        .positionItem{
                box-shadow: none;
                margin: 0 auto;
                margin-top: 22px;
                width: 150x;
                height: 18px;
                opacity: 0.8;
                font-family: 'Source Sans Pro-It';
                font-size: 17px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.59;
                letter-spacing: normal;
                text-align: center;
                color: rgba(0, 0, 0, 0.8);
                span{   
                        font-family: 'Source Sans Pro';
                        font-weight: 600;
                      }
        }
        
}

@mixin star {
        width: 18px;
        height: 18px;
        margin-right:2px;
        text-align: center;
        color: #ffef3b;
        }

@mixin dot ($bgcolor){
        width: 18px;
        height: 6px;
        margin-right: 6px;
        border-radius: 2.5px;
        background-color: $bgcolor;
        }

@mixin net ($bgcolor){
        position: relative;
        width: 53px;
        height: 52px;
        border-radius: 50%;
        background-color: $bgcolor;
        text-align: center;
        vertical-align: bottom;
        line-height: 52px;
        
        
}